<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
</head>
<body>
    <h1>Crear nuevo usuario</h1>

    <form action="/Crear" method="post">
        <label for="nombre">Nombre:</label><br>
        <input type="text" name="nombre" required><br>
        <label for="apellido">Apellido:</label><br>
        <input type="text" name="apellido" required><br>
        <label for="email">E-mail</label><br>
        <input type="email" name="email" required><br>
        <input type="submit" value="Crear">
    </form>
</body>
</html>